:root {
    --primary-color: #1E1A2A;
    --secondary-color: #2f2845;
}


html, body {
    margin: 0px;
    background-color: #1E1A2A;
    text-align: center;
}


main {
    background-color: #2f2845;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
   
}

main, aside {
    height: 100%;
    border: solid 5px #daa520  ;
}

header {
    background-image: url("../assets/image\ \(1\).png");
    background-repeat: repeat-x;
    grid-column: 1/-1;
    background-position: center;
    background-size: contain cover;
    width: 100%;
    box-shadow: 0px 8px 25px #000000;
    margin-bottom: 60px;
    height: 220px;
}


header nav { 
    display: flex;
    justify-content: center;
    gap: 190px;
    padding-bottom: 9px;


}


 header nav a {
    color: #daa520;
    font-size: 20px;
   
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/footer-photo.jpg");
    grid-column: 1/-1;
    background-position: center;
    cursor: pointer;
    width: 100%;
    height: 95px;
    margin-top: 30px;
    box-shadow: 0px -8px 25px #000000;
}

footer img {
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    
    
}
 
footer p {
    background-color: #00000000;
    color: white;
    padding-left: 20px;
}


h1 {
    color: #2C0E31;
    background-color:#afa4d2  ;
    font-family: "Cormorant Garamond", serif;
    display: inline-block;
    margin: 40px auto;
    border: 4px solid #2C0E31;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 8px 25px #1E1A2A;
}

h2 {
    color: #24022b;
   font-family: "marcellus", serif;
   font-size: 40px;
}


/* formulario-tarjeta para contact me*/
#p-contact {
    display: inline-block;
    background-color: rgb(202, 158, 199);
    padding: 9px 17px;
    width: fit-content;
    border-radius: 12px;
    margin: 0 auto;
}

.contact-me {
    width: 800px;
    min-height: 1000px; 
    margin: 80px auto;
    padding: 90px;
    background-image: url(../assets/purple\ witch.jpg);
    border: 100px solid transparent;
    border-image: url(../assets/marco-adaptado\ \(1\).png) 170 stretch;
    box-sizing: border-box;
    box-shadow: inset 0 0 25px black;
}


form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
justify-content: space-between;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #160117;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.912);
    color: rgb(0, 0, 0);
    background-color: #355fc2;
}

form button {
    padding: 15px;
    border: rgb(223, 15, 60);
    background: #3B0D33;
    color: #ba90dd;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background: #000000;
}

.contact-me {
    height: 100vh;
    display: flex;
}

label {
    display: inline-block;
    background-color: #bb39e3;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    
}
/*------------------------------------- */

 /*responsive*/

 /*responsive 576px*/

 @media screen and (max-width: 576px)  {
    .contact-me {
        max-width: 100%;
        scale: 0.80;
        margin: 0 auto;
        padding: 10px;
        margin: 20px auto ;
        padding: 15px;

    }

    .contact-me input,
    .contact-me textarea {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 10px;
    }  

    .contact-me label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;


 }


 }

         /*responsive 768px*/
 @media (min-width: 768px) {
    .contact-me {
        max-width: 100%;
        scale: 0.85;
        margin: 0 auto;
        padding: 10px;
        margin: 30px auto ;
        padding: 15px;

    }


    .contact-me input,
    .contact-me textarea {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
    }  

    .contact-me label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
 }

}



 

