:root {
    --primary-color: #1E1A2A;
    --secondary-color: #2f2845;
}


html, body {
    margin: 0px;
    background-color: #1E1A2A;
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    
   
}


 main {
    background-color: #2f2845;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
   
}

 

 aside {
    background-color: #2f2845;
    display: flex;
    flex-direction: column;
}

aside img {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.extra-stuff {
    background-color: #A77DA1;
}

main, aside {
    height: 100%;
    border: solid 5px #daa520  ;
}


header {
    background-image: url("../assets/image\ \(1\).png");
    background-repeat: repeat-x;
    grid-column: 1/-1;
    background-position: center;
    background-size: contain cover;
    width: 100%;
    box-shadow: 0px 8px 25px #000000;
    margin-bottom: 60px;
    height: 220px;
}


dl {
    background-color: white;
    border-radius: 16px;
    border: #355fc2 4px solid;
    height: 90px;
    padding: 20px 30px;
    font-size: 24px;
}




footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/footer-photo.jpg");
    grid-column: 1/-1;
    background-position: center;
    cursor: pointer;
    width: 100%;
    height: 95px;
    margin-top: 30px;
    box-shadow: 0px -8px 25px #000000;
}

footer img {
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    
    
}
 
footer p {
    background-color: #00000000;
    color: white;
    padding-left: 20px;
}


.moon-text {
    display: block;
    margin: 0 auto;
    border: 4px solid #8F6C82;
    background-color: #8F6C82;
    padding: 10px 15px 30px 15px;
    height: auto;
    position: relative;
    margin-bottom: 90px;
    margin-top: 140px;
}



h1 {
    color: #2C0E31;
    background-color:#afa4d2  ;
    font-family: "Cormorant Garamond", serif;
    display: inline-block;
    margin: 40px auto;
    border: 4px solid #2C0E31;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 8px 25px #1E1A2A;
    
}



 header nav { 
    display: flex;
    justify-content: center;
    gap: 190px;
    padding-bottom: 9px;


}


 header nav a {
    color: #daa520;
    font-size: 20px;
   
}

.carrousel-photo {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
   
}

.first-block {
    width: 90%;
    margin: 20px auto;
    background-color: #5b7251;
    border-radius: 8px;
    border:7px solid #3D4A35;
    padding: 20px;
}

.cat-photo {
    margin: 70px;
    width: 400px;
    border-radius: 6px;
}

.second-block {
    width: 90%;
    margin: 20px auto;
    background-color: #5C5F98;
    border-radius: 8px;
    border: 7px solid #A3A9D1;
    padding: 20px;
    margin-top: 50px;
}

.second-block img {
    border-radius: 6px;
}

.third-block  {
    width: 90%;
    margin: 20px auto;
    background-color:#865975 ;
    border-radius: 8px;
    border: 7px solid #C2A1D9;
    padding: 20px;
    margin-top: 50px;
}
 
.third-block img {
    border-radius: 6px;
}

.fourth-block {
    width: 90%;
    margin: 20px auto;
    background-color: #3B0D33;
    border-radius: 8px;
    border: 7px solid #160117;
    padding: 20px;
    margin-top: 50px;
}

.fourth-block img {
    border-radius: 6px;
    width: 500px;
}

.fourth-block h2 {
   color:#A199D4 ; 
}

.fourth-block p {
    color: #C2A1D9; 
}

.fifth-block {
    width: 90%;
    margin: 20px auto;
    background-color:#5A77BA ;
    border-radius: 8px;
    border: 7px solid #355fc2;
    padding: 20px;
    margin-top: 50px;
}

.fifth-block img {
    border-radius: 6px;
    height: 400px;
    width: 500px;
}
h2 {
    color: #24022b;
   font-family: "marcellus", serif;
   font-size: 40px;
}

h3 {
    color: #2C3F77;
    font-family: "marcellus", serif;
    font-size: 30px;
}

p {
    color: #460425 ;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000000;
    
}




   











 /*---------------------------------------------*/


/*responsive*/

/*Responsive 576px*/

@media (max-width: 576px)  {
    .carrousel-photo img {
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .carrousel-photo {
        margin: 0px 140px;
        margin-bottom: 90px;
    }

    .first-block {
        box-sizing: border-box;
        width: 90%;
    }

    .second-block {
        box-sizing: border-box;
        width: 90%;
    }

    .third-block {
        box-sizing: border-box;
        width: 90%;
    }

    .fourth-block {
        box-sizing: border-box;
        width: 90%;
    }

    .fifth-block {
        box-sizing: border-box;
        width: 90%;
    }
    

    aside {
        width: 380px;
        margin: 0 auto;
    }
      
    }
 

                 /* responsive 768 */
    @media (min-width: 768px) {
        .carrousel-photo {
            width: 500px;
            display: block;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    
        .moon-text img {
            width: 370px;
            display: block;
            margin: 0 auto;
            height: auto;
        }

        .first-block {
            box-sizing: border-box;
            width: 90%;
        }
    
        .second-block {
            box-sizing: border-box;
            width: 90%;
        }
    
        .third-block {
            box-sizing: border-box;
            width: 90%;
        }
    
        .fourth-block {
            box-sizing: border-box;
            width: 90%;
        }
    
        .fifth-block {
            box-sizing: border-box;
            width: 90%;
        }

        aside {
            width: 210px;
            margin: 0 auto;
        }
    
          
    }
 
    
    @media (min-width: 992px) {
        aside {
            min-width: 260px;
        }
       
    }

    
    
    
       
    






/*----------------------------------------*/
 